.container {
  margin-top: 100px;
}

p {
  color: white;
}
.description-text {
  font-size: 1rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.ticket-container {
  width: 90%;
  max-width: 400px;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ticket-name {
  width: 280px;
  margin: 0 auto;
  text-align: center;
}

.description-text {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.info-box {
  margin-bottom: 20px;
}

.info-box p {
  margin: 10px 0;
  font-weight: bold;
}

.ticket-name {
  font-size: 24px;
  font-weight: bold;
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.queue-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.queue-list div {
  font-size: 18px;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
}

.queue-list .highlight {
  background-color: #d9d9d9;
  font-weight: bold;
}

.estimated-time {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

.queue-container {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.queue-container p {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.queue-list {
  max-height: 500px;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px;
  overflow-y: auto;
  scrollbar-width: none;
}

.queue-list::-webkit-scrollbar {
  display: none;
}

.queue-list div {
  font-size: 18px;
  margin: 5px 0;
  color: #333;
}

.queue-list .highlight {
  font-weight: bold;
  color: #000;
}

.title {
  display: grid;
  place-items: center;
  text-align: center; 
}

.submit-button {
  background-color: black;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff; 
  border-radius: 10px;
  cursor: pointer;
  font-family: quicksand;
  margin-bottom: 20px;
}

.submit-button-chamar {
  background-color: #1a71c2;
  padding: 10px 20px; /* Tamanho do botão */
  font-size: 16px; /* Tamanho do texto */
  color: #ffffff; /* Texto branco */
  border-radius: 10px; /* Cantos arredondados */
  cursor: pointer; /* Cursor de clique */
  font-family: quicksand;
  margin-bottom: 20px;
}

.submit-button:hover {
  background-color: rgb(129, 167, 192);
}

.button-container-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #3b3b3b; 
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 0; 
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; 
}

.button-container-fixed button {
  margin-top: 10px;
}

.arrows {
  display: flex;
  justify-content: space-between
}

.rotate {
  transform: rotate(180deg); 
  display: inline-block;
}

.footer-text {
  text-align: center; /* Centraliza o texto */
  margin-top: 30px; /* Espaçamento acima do texto */
  font-size: 14px; /* Tamanho do texto */
  color: #888; /* Cor do texto */
}

.footer-text strong {
  color: #cecece; /* Destaque para o texto */
}

.powered-by {
  font-size: 12px; /* Texto menor */
  margin-top: 5px; /* Espaçamento menor */
  color: #ccc; /* Cor mais clara */
}

@keyframes blink {
  0% { opacity: 0; }
  33% { opacity: 1; }
  66% { opacity: 0; }
  100% { opacity: 0; }
}

.loading-dots span {
  opacity: 0;
  animation-name: blink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.loading-dots span:nth-child(1) {
  animation-delay: 0s;
}

.loading-dots span:nth-child(2) {
  animation-delay: 0.5s;
}

.loading-dots span:nth-child(3) {
  animation-delay: 1s;
}

.description-text-estimated {
  color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.edit-button {
  background-color: black;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff; 
  border-radius: 10px;
  cursor: pointer;
  font-family: quicksand;
  margin-bottom: 20px;
}