<p-confirmDialog></p-confirmDialog>
<div class="container">
  <div class="title">
    <h1 style="color: rgb(255, 255, 255); font-weight: 300; font-size: 25px; margin-left: 20px;">
      <span style="display: block;">Fila de atendimento</span>
      <strong>{{fila.name}}</strong>
    </h1>
    <div class="edit-fila">
      <button pButton class="edit-button" (click)="editQueue()">
        <i class="pi pi-pencil" style="margin-right: 8px;"></i>
        Editar fila
      </button>
    </div>
  </div>
  <hr style="margin-bottom: 50px; border: 0; border-top: 0.5px solid rgb(255, 255, 255); width: 330px;">
  <div class="info-box">
    <p style="text-align: center; font-weight: 200; font-size: 25px;">Cliente em atendimento</p>
    <div class="ticket-name">
      <ng-container *ngIf="calledClient; else noClient">
        {{ calledClient.name }}
      </ng-container>
      <ng-template #noClient>
        Nenhum cliente em atendimento
      </ng-template>
    </div>
    <div class="arrows">
      <img src="arrow.gif" style="width: 70px;" class="rotate">
      <img src="arrow.gif" style="width: 70px;" class="rotate">
    </div>
    <div class="queue-container">
      <p style="text-align: center; font-weight: 200; font-size: 20px;">Fila</p>
      <div class="queue-list">
        <div *ngFor="let client of clients">
          {{ client.name }}
        </div>
      </div>
    </div>
  </div>
  <p class="description-text-estimated">
    Tempo estimado de atendimento:&nbsp;
    <strong *ngIf="estimatedTime > 0">{{ getFormattedEstimatedTime() }}</strong>
    <strong *ngIf="estimatedTime === 0" class="loading-dots">Calculando<span>.</span><span>.</span><span>.</span></strong>
  </p>
  <div class="button-container-fixed">
    <button
      pButton
      type="button"
      (click)="confirmCallNextClient()"
      label="Chamar cliente"
      class="submit-button-chamar"
    >
    </button>
    <button
      pButton
      type="button"
      (click)="addClient()"
      label="Adicionar cliente"
      class="submit-button"
    >
    </button>
  </div>
</div>