/* Estilos para a grid */
.fila-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsivo */
    gap: 20px;
    padding: 40px;
  }
  
  /* Estilo para cada card de fila */
  .fila-card {
    background: linear-gradient(45deg, #f0f0f0, #c5c5c5);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(216, 216, 216, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 16px;
    transition: transform 0.3s ease;
  }

  .add-fila-text {
    width: 1100px;
  }

  @media (min-width: 768px) {
    hr {
      display: none; /* Esconde a linha no desktop */
    }
  }
  
  .fila-card:hover {
    transform: translateY(-5px);
  }
  
  .fila-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .fila-title {
    color: #333;
  }
  
  .fila-status {
    color: #1f78d6;
  }
  
  .fila-body {
    font-size: 0.9rem;
    color: #6e6e6e;
  }

/* Botão "Adicionar Fila" */
.btn-adicionar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  height: 80px;
  font-size: 20px;
  font-weight: 500;
  background: rgba(78, 78, 78, 0.596);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(10px);
  box-shadow: 0px 2px 5px rgba(197, 194, 194, 0.1);
  margin-top: 15px;
}

.mais{
  margin-right: 50%;
}

/* Efeito hover */
.btn-adicionar:hover {
  background-color: #002b58; /* Cor mais escura no hover */
  transform: scale(1.05); /* Aumento no tamanho ao passar o mouse */
}

/* "+", que aparece inicialmente */
.plus-sign {
  font-size: 48px; /* Tamanho grande do "+" */
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
}

.plus-sign img {
  width: 20%;
}

/* Botão dentro do fila-card */
.fila-action-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 20px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.fila-action-button img {
  width: 40px;
}

/* Efeito hover no botão */
.fila-action-button:hover {
  background-color: #f0f0f0;
}

.footer-text {
  text-align: center; /* Centraliza o texto */
  margin-top: 100px; /* Espaçamento acima do texto */
  font-size: 14px; /* Tamanho do texto */
  color: #888; /* Cor do texto */
}

.footer-text strong {
  color: #cecece; /* Destaque para o texto */
}

.powered-by {
  font-size: 12px; /* Texto menor */
  margin-top: 5px; /* Espaçamento menor */
  color: #ccc; /* Cor mais clara */
}