<div class="login-container">
  <div class="login-card">
    <img src="z-white.png" style="width: 60px;" alt="Z" />
    <h1 class="title" style="margin-bottom: 80px; font-weight: 200;">
      Zero<b style="font-weight: 1000;">fila</b>
    </h1>

    <form class="p-fluid" (ngSubmit)="onLogin()">
      <div class="field">
        <input
          pInputText
          type="text"
          [(ngModel)]="login.email"
          name="email"
          placeholder="Email"
          class="login-input"
          required
        />
      </div>
      <div class="field">
        <input
          pInputText
          type="password"
          [(ngModel)]="login.password"
          name="password"
          placeholder="Senha"
          class="login-input"
          required
        />
      </div>
      <button pButton type="submit" label="Login" class="submit-button"></button>
    </form>

    <p class="footer">Powered by H&V</p>
  </div>
</div>