.submit-button {
    background: rgba(78, 78, 78, 0.596);
    padding: 10px 20px; /* Tamanho do botão */
    font-size: 16px; /* Tamanho do texto */
    color: #ffffff; /* Texto branco */
    border-radius: 10px; /* Cantos arredondados */
    cursor: pointer; /* Cursor de clique */
    font-family: quicksand;
    margin-bottom: 10px;
  }

  .submit-button:hover {
    background-color: rgb(129, 167, 192);
  }

  #qrcode-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  
    canvas {
      max-width: 90%; // Evita que o QR Code ultrapasse a largura da tela
      height: auto;
    }
  }
  
  @media (max-width: 600px) {
    #qrcode-container {
      margin-top: 10px;
    }
  }
  